.nopuce{
	list-style: none;
}
.center{
text-align: center;

}
.cadre{
	border: 2px solid grey;
	border-radius: 3px;
	max-width: 10%;
	align-self: center;
}
.flex{
	display: flex;
	justify-content: space-around ;
}

.text-orange{
	color: orange;
}
.align{
	padding-top: 25%;
	
}
.little{
	max-height: 60px;
	
}
html, #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name { font-size : 1rem ; }
@media (min-width: 300px) { html, #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name { font-size : 0.9rem ; } } 
@media (min-width: 768px) { html, #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name { font-size : 0.8rem ; } } 
@media (min-width: 1200px) { html, #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name { font-size : 0.9rem ; } } 

